<div class= "container">
    <div class="row">
        <img src = "../public/kisspng-veggie-burger-hamburger-fried-chicken-vegetarian-c-spicy-burger-5ae93b806805c3.6527494815252345604261.jpg"/>
        <h2>Veggie Burger Nom Nom</h2>
    </div>
    <div class="row">
        {{#each burger_data}}
        {{#unless this.devoured}}
    </div>
    <div class="row">
        <h5>{{this.id}}. {{this.burger_name}}</h5>
    </div>
    <div class="row">
        <button type="submit">Nom Nom!</button>
    </div>
</div>